/*!
============================================================

	Theme Name: Infinite - Child Theme
	Theme URI: http://www.goodlayers.com/
	
	Author: Goodlayers
	Author URI: http://www.goodlayers.com/
	Description: Use this theme if you want to extend features your parent theme or prevent overwriting the changes you make when new theme update is available..
	
	Template: infinite
	Text Domain: infinite

============================================================
*/