/* This code is from customise.css */
.page-id-12412 .gdlr-core-accordion-item-content {
    width: 85%
}

.page-id-12412 .accordion-white .gdlr-core-accordion-item-title {
    letter-spacing: 0;
    text-transform: unset !important
}

.page-id-12412 .accordion-white .gdlr-core-accordion-item-title,
.page-id-12412 .gdlr-core-accordion-item-content {
    font-size: 20px !important
}

@media only screen and (max-width:540px) {
    .page-id-12412 .gdlr-core-accordion-item-content {
        font-size: 18px !important
    }

    .page-id-12412 .faq-title {
        padding-bottom: 30px !important
    }
}

.page-id-12412 #contact .gdlr-core-pbf-background {
    background-position: calc(58% + 20px) !important
}

@media only screen and (min-width:2560px) {
    .page-id-12412 #contact .gdlr-core-pbf-background {
        background-position: calc(54% + 20px) !important
    }
}

@media only screen and (min-width:3840px) {
    .page-id-12412 #contact .gdlr-core-pbf-background {
        background-position: calc(52% + 20px) !important
    }
}

@media only screen and (max-width:1440px) {
    .page-id-12412 #contact .gdlr-core-pbf-background {
        background-position: calc(75% + 20px) !important
    }
}

.page-id-12412 .ipad-form-content .gdlr-core-pbf-background-wrap .gdlr-core-pbf-background {
    background-position: calc(58% + 20px) !important;
    background-repeat: no-repeat;
    background-size: 1195px !important
}

.page-id-12412 .header_2 {
    margin-left: .5%;
    max-width: 300%;
    width: 100%
}

.page-id-12412 .header_2 .gdlr-core-image-item-wrap,
.page-id-12412 .header_2 .gdlr-core-image-item-wrap img {
    width: 100%
}

@media only screen and (min-width:3000px) {
    .page-id-12412 .header_2 {
        margin-left: 11.5%;
        max-width: 75%;
        width: 100%
    }
}

.page-id-12412 .gdlr-core-title-item.gdlr-core-item-pdb.clearfix.gdlr-core-center-align.gdlr-core-title-item-caption-top.gdlr-core-item-pdlr.home-contact-title.title2.mb {
    margin-top: 60px
}

@media only screen and (min-width:3000px) {
    .page-id-12412 #contact .gdlr-core-pbf-background {
        background-position: calc(52% + 20px) !important
    }
}

.page-id-12412 .web-app-section1 .gdlr-core-pbf-background-wrap {
    height: 90%
}

.page-id-12412 .web-app-section1 .extended-img.left-extend .gdlr-core-image-item {
    margin-left: -100%;
    margin-top: -34px;
    width: 200%
}

.page-id-12412 .web-app-section1 .section1-text h2 {
    color: #000;
    font-size: 34px
}

.page-id-12412 .web-app-section1 .section1-text h4 {
    color: #000;
    font-size: 22px
}

.page-id-12412 .web-app-section1 .section1-text span {
    border-right: 1px solid #ccc;
    padding: 0 10px 0 0
}

@media only screen and (max-width:540px) {
    .page-id-12412 .web-app-section1 .section1-text span {
        border: none;
        display: block
    }
}

.page-id-12412 .web-app-section1 .section1-text p {
    color: #000;
    font-size: 20px
}

.page-id-12412 .web-app-section1 .section1-text p strong {
    color: #000
}

@media only screen and (max-width:768px) {

    .page-id-12412 .web-app-section1 .section1-text h2,
    .page-id-12412 .web-app-section1 .section1-text h4,
    .page-id-12412 .web-app-section1 .section1-text p,
    .page-id-12412 .web-app-section1 .section1-text p strong {
        color: #000
    }
}

@media only screen and (max-width:540px) {
    .page-id-12412 .web-app-section1 .section1-text h2 {
        font-size: 22px
    }

    .page-id-12412 .web-app-section1 .section1-text h4 {
        font-size: 18px
    }
}

.page-id-12412 .w175 .extended-img.right-extend .gdlr-core-image-item {
    margin-right: 0;
    width: 175%
}

.page-id-12412 .w175 .extended-img.left-extend .gdlr-core-image-item {
    margin-left: -90%;
    width: 190%
}

.page-id-12412 .text-img .text-section h2 {
    font-size: 40px
}

.page-id-12412 .text-img .text-section h4 {
    font-size: 22px
}

.page-id-12412 .text-img .text-section span {
    border-right: 1px solid #ccc;
    padding: 0 10px 0 0
}

@media only screen and (max-width:540px) {
    .page-id-12412 .text-img .text-section span {
        border: none;
        display: block
    }
}

.page-id-12412 .text-img .text-section p {
    color: #111;
    font-size: 20px
}

.page-id-12412 .roamni-section .gdlr-core-pbf-background-wrap {
    bottom: 130px;
    top: 115px
}

@media only screen and (max-width:768px) {
    .page-id-12412 .roamni-section .gdlr-core-pbf-background-wrap {
        bottom: 0;
        top: 0
    }
}

.page-id-12412 .roamni-section .btn a {
    border: 2px solid #fff
}

.page-id-12412 .roamni-section p {
    color: #000;
    font-size: 22px;
    font-weight: 700
}

.page-id-12412 .services .service-info h3 {
    color: #000;
    font-size: 24px
}

.page-id-12412 .services .service-info p {
    color: #1d1d1f;
    font-size: 19px
}

.page-id-12412 .services .service-info p strong {
    color: #000
}

.page-id-12412 .testimonial #custom-testimonial .gdlr-core-testimonial {
    background-color: #fff
}

@media only screen and (max-width:1440px) {
    .page-id-12412 #contact .gdlr-core-pbf-background {
        background-position: calc(74% + 20px) !important
    }
}

@media only screen and (max-width:1024px) {
    .page-id-12412 .card p {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0;
    }

    .page-id-12412 #contact .gdlr-core-pbf-background {
        background-position: calc(20% + 20px) !important
    }

    .page-id-12412 .web-app-section1 .gdlr-core-pbf-background-wrap {
        height: 90%
    }
}

@media only screen and (min-width:1440px) {
    .page-id-12412 .roamni-section p {
        width: 80%
    }
}

@media(min-width:769px) and (max-width:1024px) {
    .page-id-12412 .roamni-section p {
        font-size: 25px
    }
}


@media only screen and (max-width: 900px) {
    .page-id-12412 .card .gdlr-core-text-box-item-content {
        padding: 30px 20px 0;
    }

    .page-id-12412 .card {
        margin: 0 15px;
        border-radius: 10px;
        min-height: 268px;
    }

    .page-id-12412 .card * {
        color: #fff !important;
    }

    .page-id-12412 .card1 {
        background: linear-gradient(#1367e2, #4f3cc6);
    }

    .page-id-12412 .card2 {
        background: linear-gradient(#713cc6, #4f3cc6);
    }
}

@media only screen and (max-width:768px) {
    .page-id-12412 .img-watch img {
        width: 60%
    }

    .page-id-12412 .gdlr-core-column-service-item {
        min-height: 388px
    }

    .page-id-12412 img.custom-quote {
        display: none
    }

    .page-id-12412 .img-mobile-stretch {
        margin-left: -9.5%;
        width: 119%
    }

    .page-id-12412 .testimonial h3.gdlr-core-title-item-title.gdlr-core-skin-title {
        font-size: 44px !important;
        width: 322px
    }

    .page-id-12412 .accordion-white .gdlr-core-accordion-item-title {
        line-height: 1.2
    }

    .page-id-12412 .mobile-case-study .gdlr-core-pbf-background-wrap {
        bottom: 0;
        height: 54.5%;
        top: 442px
    }

    .page-id-12412 .mobile-case-study .gdlr-core-button-item {
        text-align: center
    }

    .page-id-12412 .roamni-section p {
        color: #000;
        font-size: 30px
    }

    .page-id-12412 #app-case-study-form form input {
        text-align: center;
        width: 100% !important
    }

    .page-id-12412 .web-app-section1 .extended-img.left-extend .gdlr-core-image-item {
        margin-left: 0 !important;
        width: 100% !important
    }

    .page-id-12412 .extended-img.left-extend .gdlr-core-image-item {
        margin-left: 0;
        width: 100%
    }

    .page-id-12412 .webdev_column_icon h3.gdlr-core-column-service-title.gdlr-core-skin-title {
        font-size: 21px !important
    }

    .page-id-12412 .web-app-section1 .extended-img.left-extend .gdlr-core-image-item {
        margin-left: -146%
    }

    .page-id-12412 .card {
        border-radius: 10px;
        min-height: 234px;
        padding-bottom: 20px
    }

    .page-id-12412 .card p {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0
    }

    .page-id-12412 .card h3 {
        font-size: 53px;
        margin-bottom: 10px
    }

    .page-id-12412 .card h4 {
        font-size: 22px
    }

    .page-id-12412 .card * {
        color: #fff
    }

    .page-id-12412 .card .gdlr-core-text-box-item-content {
        padding: 30px 20px 0
    }

    .page-id-12412 .web-app-section1 .gdlr-core-pbf-background-wrap {
        height: 100%
    }

    .page-id-12412 .mobile-cards .gdlr-core-pbf-background-wrap {
        height: 75%
    }

    .page-id-12412 .card {
        margin: 0 15px
    }
}

@media only screen and (max-width:540px) {
    .page-id-12412 .img-mobile-stretch {
        margin-left: 0;
        width: 100%
    }

    .page-id-12412 .web-app-section1 .section1-text p {
        font-size: 18px
    }

    .page-id-12412 .accordion-white {
        margin-left: -10px !important
    }

    .page-id-12412 .partner-text p span,
    .page-id-12412 .text-img .text-section p {
        font-size: 18px
    }

    .page-id-12412 .card {
        margin: 0
    }

    .page-id-12412 .img-watch img {
        width: 100%
    }

    .page-id-12412 .partner-text h3.gdlr-core-title-item-title.gdlr-core-skin-title {
        font-size: 26px !important
    }

    .page-id-12412 .partner-text p span {
        font-size: 19px !important
    }

    .page-id-12412 .gdlr-core-pbf-wrapper.home_blurb {
        margin-top: 0;
        padding-top: 0
    }

    .page-id-12412 .accordion-white .gdlr-core-accordion-item-title,
    .page-id-12412 .accordion-white .gdlr-core-active .gdlr-core-accordion-item-title {
        font-size: 18px !important
    }

    .page-id-12412 .webdev_title_caption h3 {
        text-align: left
    }

    .page-id-12412 .mobile-case-study .gdlr-core-pbf-background-wrap {
        bottom: 0;
        height: 63.5%;
        top: 280px
    }

    .page-id-12412 .mobile-case-study .gdlr-core-button-item {
        text-align: center
    }

    .page-id-12412 .roamni-section p {
        color: #000;
        font-size: 22px
    }

    .page-id-12412 .header_2 {
        margin: 35px 0 0 -105px !important;
        max-width: 189% !important;
        min-height: auto !important;
        width: 180% !important
    }

    .page-id-12412 #gdlr-core-title-item-3 .gdlr-core-title-item-title {
        font-size: 28px !important
    }

    .page-id-12412 .img-mobile-stretch {
        margin-left: -30px;
        margin-right: 0;
        width: 175%
    }

    .page-id-12412 .web-app-section1 .gdlr-core-pbf-background-wrap {
        height: 100%
    }

    .page-id-12412 .h_33 {
        font-size: 33px !important
    }

    .page-id-12412 .text-img .text-section h2 {
        font-size: 24px
    }

    .page-id-12412 .mobile-cards .gdlr-core-pbf-background-wrap {
        height: 65%
    }

    .page-id-12412 .w-150 .gdlr-core-image-item {
        margin-right: -150%;
        width: 150%
    }

    .page-id-12412 .w-150-l .gdlr-core-image-item {
        margin-left: -67% !important;
        width: 175% !important
    }

    .page-id-12412 .logo-title h1.gdlr-core-title-item-caption.gdlr-core-info-font.gdlr-core-skin-caption {
        font-size: 25px !important
    }

    .page-id-12412 .logo-title h1.gdlr-core-title-item-title.gdlr-core-skin-title {
        font-size: 28px !important
    }

    .page-id-12412 #app-case-study-form input {
        text-align: center;
        width: 100% !important
    }
}

.page-id-12412 #app-case-study-form input {
    text-align: center;
    width: 70% !important
}

@media only screen and (max-width:540px) {
    .page-id-12412 #app-case-study-form input {
        text-align: center;
        width: 100% !important
    }
}

.page-id-12412 #app-case-study-form input[type=email] {
    background: #fff;
    border-color: #d6d6d6;
    border-radius: 5px !important;
    box-shadow: none !important;
    color: #646464;
    margin-bottom: 10px !important
}

.page-id-12412 #app-case-study-form input[type=email]::-moz-placeholder {
    color: #646464
}

.page-id-12412 #app-case-study-form input[type=email]:-ms-input-placeholder {
    color: #646464
}

.page-id-12412 #app-case-study-form input[type=email]::placeholder {
    color: #646464
}

.page-id-12412 #app-case-study-form input[type=submit] {
    background: #0f67a6 !important;
    border-radius: 5px !important;
    color: #fff !important
}

.page-id-12412 .webdev_column_icon h3.gdlr-core-column-service-title.gdlr-core-skin-title {
    color: #000 !important;
    line-height: 30px
}

.page-id-12412 .accordion-white .gdlr-core-accordion-item-tab {
    border-bottom: 1px solid #b2b2b2 !important
}

/* This code is from customise.css */