.faq-section .custom-faq .gdlr-core-accordion-item-tab a {
    color: #00e !important;
}

.faq-section .custom-faq .gdlr-core-accordion-item-tab a:visited {
    color: #551a8b !important;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .faq-section {
        padding-bottom: 120px !important;
    }
}