/* This code is from customise.css */
.page-id-14328 .icons {
    display: none
}

@media only screen and (max-width:767px) {
    .page-id-14328 .featured ul li {
        width: 25% !important
    }

    .page-id-14328 .featured ul li:nth-child(2) {
        width: 33.33% !important
    }

    .page-id-14328 .featured ul li:nth-child(4) {
        width: 16.66% !important
    }

    .page-id-14328 .featured ul li:nth-child(6) {
        width: 50% !important
    }

    .page-id-14328 .featured .icon-container {
        display: none
    }

    .page-id-14328 .featured .icons {
        display: block
    }
}

@media only screen and (max-width:480px) {
    .page-id-14328 .featured ul li .gdlr-core-icon-list-image {
        margin-right: 0 !important
    }
}

/* This code is from customise.css */