/* This code is from customise.css */
.page-id-18600 .gdlr-core-filterer-wrap.gdlr-core-js.gdlr-core-style-button.gdlr-core-center-align {
    margin-bottom: 50px !important;
}


.page-id-18600,
.page-id-18600 .infinite-header-background-transparent {
    background-color: #F2F2F2;
}

/* This code is from customise.css */