.section-title{
  max-width: 820px;
}
.section-content h3 {
  font-size: clamp(1.625rem, 1.25rem + 1vw, 1.875rem);
}

.section-content h4 {
  font-size: clamp(1.375rem, 1.1875rem + 0.5vw, 1.5rem);
}

ol {
  list-style: none !important;
  counter-reset: level1;
  padding-left: .5em !important;
}

ol>li {
  counter-increment: level1;
  position: relative;
}

ol>li::before {
  content: "(" counter(level1, lower-alpha) ")";
  position: absolute;
  left: -2em;
}

/* Second level */
ol>li>ol {
  counter-reset: level2;

}

ol>li>ol>li {
  counter-increment: level2;
  position: relative;
}

ol>li>ol>li::before {
  content: "(" counter(level2, lower-roman) ")";
  position: absolute;
  left: -2em;
  font-weight: 400;
}

/* Third level */
ol>li>ol>li>ol {
  counter-reset: level3;

}

ol>li>ol>li>ol>li {
  counter-increment: level3;
  position: relative;
}

ol>li>ol>li>ol>li::before {
  content: "(" counter(level3, upper-alpha) ")";
  position: absolute;
  left: -2em;
  font-weight: 400;
}