/* This code is from customise.css */
.page-id-694 span.gdlr-core-image-overlay-content i {
    visibility: hidden;
}
.page-id-694 .mixit-section .title-container .gdlr-core-title-item {
    padding-bottom: 30px !important
}
/* This code is from customise.css */