#hubspot-messages-iframe-container {
	display: none !important;
}

/* This code is from customise.css */
.page-id-8071 #hero-main-blog .gdlr-core-pbf-wrapper-container>div:last-child .gdlr-core-text-box-item-content {
	font-size: 20px !important;
}

/* This code is from customise.css */