.gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-title a {
    font-size: 24px;
    letter-spacing: 0;
    padding: 80px 0;
    object-fit: contain;
}

.appetiser-portfolio-wrapper .gdlr-core-image-overlay-content {
    margin: unset !important;
    left: 0;
    top: 0;
    right: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

.appetiser-portfolio-wrapper .gdlr-core-portfolio-title {
    margin: unset !important;
    height: 100%;
}

.appetiser-portfolio-wrapper .gdlr-core-portfolio-title a {
    height: 100%;
    width: 100%;
    position: relative;
    padding: unset !important;
    margin: unset !important;
    display: flex;
    justify-content: center;
    align-items: center;
}