.reading-progress-bar {
    position: relative;
    width: 100%;
    height: 4px;
    background: #ffffff;
    z-index: 9999;
}

.infinite-mobile-header .reading-progress-bar {
    margin-top: 15px;
    margin-bottom: -15px;
}

.reading-progress-bar .progress {
    width: 0;
    height: 100%;
    background: linear-gradient(270deg,#2addde,#4261d2)!important;
    transition: width 0.1s ease;
}