/* This code is from customise.css */
.postid-15918 .roamni-2-expertise .airpods-mobile,
.postid-15918 .roamni-2-vision .iphone-mobile {
    display: none
}

.postid-15918 .roamni-2-download .download-container>div>div:nth-child(3),
.postid-15918 .roamni-2-download .download-container>div>div:nth-child(4) {
    clear: none;
    float: left
}

.postid-15918 .roamni-2-half-split,
.postid-15918 .roamni-2-now .iphone-mobile {
    display: none
}

.postid-15918 .roamni-2-featured .icons ul li {
    align-items: center;
    display: flex;
    justify-content: center
}

.postid-15918 .roamni-2-featured .icons-mobile ul li {
    align-items: center;
    display: none;
    justify-content: center;
    width: 33%
}

.postid-15918 .roamni-2-featured .icons-mobile li:nth-child(7),
.postid-15918 .roamni-2-featured .icons-mobile li:nth-child(8) {
    width: 50% !important
}

.postid-15918 .roamni-2-featured .gdlr-core-icon-list-item .gdlr-core-icon-list-image {
    margin-right: 0 !important
}

.postid-15918 .roamni-2-testimonial .testimonial .gdlr-core-testimonial-frame {
    background: #f6f6f6 !important;
    padding: 90px 100px 60px
}

.postid-15918 .roamni-2-footer .gdlr-core-title-item .gdlr-core-title-item-title-wrap {
    display: contents !important
}

@media only screen and (max-width:1024px) {
    .postid-15918 .roamni-2-expertise .text-container {
        margin-left: 200px !important;
        margin-right: 130px !important
    }

    .postid-15918 .roamni-2-expertise .airpods-desktop .gdlr-core-image-item-wrap {
        margin: -445px 0 0 !important
    }

    .postid-15918 .roamni-2-vision .text-container {
        margin-left: 200px !important;
        margin-right: 130px !important
    }

    .postid-15918 .roamni-2-people .owner-left-container {
        margin-left: auto !important;
        margin-top: -298px !important;
        width: 430px !important
    }

    .postid-15918 .roamni-2-people .owner-right-container {
        margin-right: auto;
        margin-top: -296px !important
    }

    .postid-15918 .roamni-2-people .right-text-container {
        margin: 0 60px 0 -20px !important
    }

    .postid-15918 .roamni-2-download .download-container {
        margin-left: 200px !important;
        margin-right: 130px !important
    }

    .postid-15918 .roamni-2-now .text-container {
        margin-left: 140px !important;
        margin-right: 60px !important
    }

    .postid-15918 .roamni-2-quality .right-text-container {
        margin: 0 60px 0 -20px !important;
        padding: 10% 0 20% !important
    }

    .postid-15918 .roamni-2-footer .ipad-cta {
        padding-top: 23% !important
    }
}

@media only screen and (max-width:912px) {
    .postid-15918 .roamni-2-people .owner-left-container {
        width: 383px !important
    }

    .postid-15918 .roamni-2-footer .ipad-cta {
        padding-top: 27% !important
    }
}

@media only screen and (max-width:834px) {
    .postid-15918 .roamni-2-hero {
        padding: 200px 0 300px !important
    }

    .postid-15918 .roamni-2-hero h1 {
        margin: 0 1rem
    }

    .postid-15918 .roamni-2-expertise .airpods-desktop .gdlr-core-image-item-wrap {
        margin: -370px 0 0 !important
    }

    .postid-15918 .roamni-2-expertise .text-container {
        margin: 0 7.5rem !important;
        padding-bottom: 200px !important
    }

    .postid-15918 .roamni-2-people .owner-left-container {
        width: 345px !important
    }

    .postid-15918 .roamni-2-people .owner-left-container,
    .postid-15918 .roamni-2-people .owner-right-container {
        margin-top: -250px !important;
        padding-bottom: 150px !important
    }

    .postid-15918 .roamni-2-people .left-iphone-container {
        padding-bottom: 200px !important
    }

    .postid-15918 .roamni-2-vision .iphone-4 .gdlr-core-image-item-wrap {
        margin-top: -192px !important
    }

    .postid-15918 .roamni-2-vision .text-container {
        margin: 0 7.5rem !important
    }

    .postid-15918 .roamni-2-quality .right-text-container {
        margin: 0 60px 0 -30px !important
    }

    .postid-15918 .roamni-2-download .download-container {
        margin: 0 7.5rem !important
    }

    .postid-15918 .roamni-2-now .text-container {
        margin: 0 20px 0 85px !important
    }

    .postid-15918 .roamni-2-footer h2 {
        letter-spacing: -4px !important
    }
}

@media only screen and (max-width:820px) {
    .postid-15918 .roamni-2-people .owner-left-container {
        width: 338px !important
    }
}

@media only screen and (max-width:810px) {
    .postid-15918 .roamni-2-people .owner-left-container {
        width: 332px !important
    }

    .postid-15918 .roamni-2-quality .right-text-container {
        padding: 5% 0 20% !important
    }
}

@media only screen and (max-width:768px) {
    .postid-15918 .roamni-2-expertise .airpods-desktop .gdlr-core-image-item-wrap {
        margin: -340px 0 0 !important
    }

    .postid-15918 .roamni-2-people .owner-left-container {
        width: 315px !important
    }

    .postid-15918 .roamni-2-people .left-iphone-container {
        padding-bottom: 150px !important
    }

    .postid-15918 .roamni-2-people .right-text-container {
        padding: 5% 0 20% !important
    }

    .postid-15918 .roamni-2-vision .iphone-4 .gdlr-core-image-item-wrap {
        margin-top: -182px !important
    }

    .postid-15918 .roamni-2-download .download-container>div>div:nth-child(3),
    .postid-15918 .roamni-2-download .download-container>div>div:nth-child(4) {
        width: 50% !important
    }

    .postid-15918 .roamni-2-footer h3 {
        color: #f2f2f2 !important
    }

    .postid-15918 .roamni-2-footer .ipad-cta {
        min-height: 500px !important;
        padding-top: 10% !important
    }
}

@media only screen and (max-width:767px) {
    .postid-15918 .roamni-2-hero img {
        width: 260px !important
    }

    .postid-15918 .roamni-2-hero h1 {
        letter-spacing: -2px !important;
        line-height: 46px !important;
        margin: 0 45px
    }

    .postid-15918 .roamni-2-expertise h3 {
        line-height: 42px !important
    }

    .postid-15918 .roamni-2-expertise p {
        line-height: 32px !important
    }

    .postid-15918 .roamni-2-expertise .airpods-desktop {
        display: none
    }

    .postid-15918 .roamni-2-expertise .airpods-mobile {
        display: block;
        padding-bottom: 30px !important
    }

    .postid-15918 .roamni-2-expertise .text-container {
        margin: auto !important;
        padding-bottom: 200px !important
    }

    .postid-15918 .roamni-2-people h3 {
        line-height: 42px !important
    }

    .postid-15918 .roamni-2-people p {
        line-height: 32px !important
    }

    .postid-15918 .roamni-2-people .owner-left-container {
        margin-top: -270px !important;
        padding-bottom: 0 !important;
        width: 100% !important
    }

    .postid-15918 .roamni-2-people .left-iphone-container,
    .postid-15918 .roamni-2-people .owner-right-container {
        display: none
    }

    .postid-15918 .roamni-2-people .right-text-container {
        margin: auto !important;
        padding-bottom: 45% !important
    }

    .postid-15918 .roamni-2-vision h3 {
        line-height: 42px !important
    }

    .postid-15918 .roamni-2-vision p {
        line-height: 32px !important
    }

    .postid-15918 .roamni-2-vision .iphone-4 {
        display: none
    }

    .postid-15918 .roamni-2-vision .iphone-mobile {
        display: block
    }

    .postid-15918 .roamni-2-vision .text-container {
        margin: auto !important;
        padding-bottom: 22.5rem !important
    }

    .postid-15918 .roamni-2-quality h3 {
        line-height: 42px !important
    }

    .postid-15918 .roamni-2-quality p {
        line-height: 32px !important
    }

    .postid-15918 .roamni-2-quality .left-iphone-container {
        margin-top: -30rem !important
    }

    .postid-15918 .roamni-2-quality .left-iphone-container .gdlr-core-item-pdb {
        padding-bottom: 0 !important
    }

    .postid-15918 .roamni-2-quality .right-text-container {
        margin: auto !important;
        padding-bottom: 0 !important
    }

    .postid-15918 .roamni-2-full-split {
        display: none
    }

    .postid-15918 .roamni-2-half-split {
        display: block
    }

    .postid-15918 .roamni-2-download h3 {
        line-height: 42px !important
    }

    .postid-15918 .roamni-2-download p {
        line-height: 32px !important
    }

    .postid-15918 .roamni-2-download .download-container {
        margin: auto !important
    }

    .postid-15918 .roamni-2-download .download-container>div>div:nth-child(3),
    .postid-15918 .roamni-2-download .download-container>div>div:nth-child(4) {
        width: 190px !important
    }

    .postid-15918 .roamni-2-now h2 {
        line-height: 42px !important
    }

    .postid-15918 .roamni-2-now p {
        line-height: 32px !important
    }

    .postid-15918 .roamni-2-now .iphone-desktop {
        display: none
    }

    .postid-15918 .roamni-2-now .iphone-mobile {
        display: block
    }

    .postid-15918 .roamni-2-now .text-container {
        margin: auto !important
    }

    .postid-15918 .roamni-2-now .btn-consult a {
        display: block !important
    }

    .postid-15918 .roamni-2-testimonial {
        padding-bottom: 20rem !important
    }

    .postid-15918 .roamni-2-testimonial .testimonial .gdlr-core-testimonial-frame {
        padding: 30px !important
    }

    .postid-15918 .roamni-2-featured .icons {
        display: none
    }

    .postid-15918 .roamni-2-featured .icons-mobile {
        padding-bottom: 4rem !important
    }

    .postid-15918 .roamni-2-featured .icons-mobile ul li {
        display: flex !important
    }

    .postid-15918 .roamni-2-featured p {
        line-height: 32px !important
    }

    .postid-15918 .roamni-2-footer h2,
    .postid-15918 .roamni-2-footer h3 {
        letter-spacing: -2px !important;
        line-height: 46px !important
    }

    .postid-15918 .roamni-2-footer h3 {
        color: #f2f2f2 !important;
        margin: 0 50px !important
    }

    .postid-15918 .roamni-2-footer .ipad-cta {
        min-height: 580px !important;
        padding-top: 15% !important
    }
}

@media only screen and (max-width:540px) {
    .postid-15918 .iphone-mobile img {
        width: 34rem !important
    }

    .postid-15918 .roamni-2-vision .iphone-mobile .gdlr-core-image-item-wrap {
        margin-top: -320px !important
    }

    .postid-15918 .roamni-2-now .iphone-mobile .gdlr-core-image-item-wrap {
        margin-top: -332px !important
    }

    .postid-15918 .roamni-2-testimonial {
        padding-bottom: 24rem !important
    }
}

@media only screen and (max-width:480px) {
    .postid-15918 .roamni-2-vision .iphone-mobile .gdlr-core-image-item-wrap {
        margin-top: -258px !important
    }

    .postid-15918 .roamni-2-now .iphone-mobile .gdlr-core-image-item-wrap {
        margin-top: -256px !important
    }
}

@media only screen and (max-width:375px) {

    .postid-15918 .roamni-2-download .download-container>div>div:nth-child(3),
    .postid-15918 .roamni-2-download .download-container>div>div:nth-child(4) {
        width: 172px !important
    }

    .postid-15918 .roamni-2-now .btn-consult a {
        padding: 15px !important
    }

    .postid-15918 .roamni-2-featured .icons-mobile ul li {
        width: 45% !important
    }

    .postid-15918 .roamni-2-footer h2,
    .postid-15918 .roamni-2-footer h3 {
        margin: auto !important
    }
}

@media only screen and (max-width:360px) {
    .postid-15918 .roamni-2-hero h1 {
        margin: 0 20px !important
    }

    .postid-15918 .roamni-2-download .download-container>div>div:nth-child(3),
    .postid-15918 .roamni-2-download .download-container>div>div:nth-child(4) {
        width: 165px !important
    }

    .postid-15918 .roamni-2-now .btn-consult a {
        padding: 10px !important
    }

    .postid-15918 .roamni-2-now .btn-consult a span {
        font-size: 16px !important
    }
}

/* This code is from customise.css */