.gdlr-core-pbf-wrapper {
  margin-top: -1px;
}

.prt-2 .gdlr-core-title-item-title {
  letter-spacing: -1.5px !important;
}

.ftc-title .gdlr-core-title-item-title {
  letter-spacing: -0.5px !important;
}

.mobile-banner {
  display: none;
}

.mobile-image {
  display: none;
}

.tm-banner {
  display: none;
}

.hero-section .logo-container .client-logo img {
  max-width: 300px;
}

.spark-section .image-container .desktop-banner img {
  max-width: 1122px;
  margin-left: -100%;
  margin-right: -100%;
}

.mid-section .image-container .desktop-banner img {
  max-width: 1132px;
  margin-left: -100%;
  margin-right: -100%;
}

.creation-section .image-container .desktop-img img {
  max-width: 762px;
  margin-left: -24%;
}
.creation-section .content-container .prc-2 a {
  color: #63AEE4;
}

.app-section .image-container .desktop-img img {
  max-width: 762px;
  margin-right: -24%;
}

.journey-section .banner-container .desktop-banner img {
  max-width: 762px;
}

.download-section .gdlr-core-pbf-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.download-section .gdlr-core-pbf-element:nth-child(2) {
  clear: none;
  float: left;
  margin-right: 16px;
}
.download-section .gdlr-core-pbf-element:nth-child(3) {
  clear: none;
  float: left;
  margin-left: 16px;
}
.download-section .ld-container {
  border-radius: 24px;
  border: 1px solid #A5A5A5;
  background: #212121;
  max-width: 530px;
  width: 100%;
  padding: 50px 35px;
}
.download-section .ld-container .client-logo.nbl img {
  max-width: 81px;
}
.download-section .ld-container .client-logo.nbl1 img {
  max-width: 178px;
}
.download-section .ld-container .dl-btn {
  max-width: 212px;
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .prt-1 .gdlr-core-title-item-title {
    font-size: 50px !important;
    line-height: 57px !important;
    letter-spacing: -2px !important;
  }
  .prt-1 .gdlr-core-title-item-caption {
    font-size: 21px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
  }
  .prt-2 {
    padding-bottom: 20px !important;
  }
  .prt-2 .gdlr-core-title-item-title {
    font-size: 28px !important;
    line-height: 42px !important;
    letter-spacing: -1px !important;
  }
  .prc-2 .gdlr-core-text-box-item-content {
    font-size: 20px !important;
    line-height: 32px !important;
  }
  .dark-gradient-title .gdlr-core-title-item-title {
    font-size: 50px !important;
    line-height: 54px !important;
    letter-spacing: -2px !important;
  }
  .cf-container {
    margin-bottom: 60px !important;
    min-height: auto !important;
    height: auto !important;
  }
  .cf-container .ftc-title .gdlr-core-title-item-title {
    font-size: 18px !important;
    line-height: 28px !important;
  }
  .cf-container .ftc-title .gdlr-core-title-item-caption {
    font-size: 15px !important;
    line-height: 24px !important;
  }
  .hero-section {
    padding-top: 80px !important;
    padding-bottom: 420px !important;
  }
  .hero-section .logo-container {
    margin-bottom: 25px !important;
  }
  .hero-section .prt-1 .gdlr-core-title-item-caption {
    margin-top: 25px !important;
  }
  .spark-section {
    padding-bottom: 380px !important;
  }
  .spark-section .image-container {
    margin-top: -366px !important;
    margin-bottom: 60px !important;
  }
  .spark-section .image-container .desktop-banner img {
    max-width: 767px;
  }
  .spark-section .content-container .gdlr-core-pbf-column-content {
    max-width: 560px !important;
  }
  .mid-section {
    padding-bottom: 70px !important;
  }
  .mid-section .image-container {
    margin-top: -292px !important;
  }
  .mid-section .image-container .desktop-banner img {
    max-width: 696px;
  }
  .creation-section {
    padding-bottom: 50px !important;
  }
  .creation-section .gdlr-core-sync-height-pre-spaces {
    display: none;
  }
  .creation-section .gdlr-core-pbf-wrapper-container {
    display: flex;
    flex-direction: column;
  }
  .creation-section .gdlr-core-pbf-column {
    width: 100%;
  }
  .creation-section .gdlr-core-pbf-column:first-child {
    order: 2;
  }
  .creation-section .gdlr-core-pbf-column:nth-child(2) {
    order: 1;
  }
  .creation-section .content-container {
    height: auto !important;
    margin-bottom: 80px !important;
  }
  .creation-section .content-container .gdlr-core-pbf-column-content {
    max-width: 560px !important;
  }
  .creation-section .image-container {
    height: auto !important;
    min-height: auto !important;
  }
  .creation-section .image-container .desktop-img img {
    max-width: 500px;
    margin-left: -100%;
    margin-right: -100%;
  }
  .app-section {
    padding-top: 70px !important;
    padding-bottom: 50px !important;
  }
  .app-section .gdlr-core-sync-height-pre-spaces {
    display: none;
  }
  .app-section .gdlr-core-pbf-wrapper-container {
    display: flex;
    flex-direction: column;
  }
  .app-section .gdlr-core-pbf-column {
    width: 100%;
  }
  .app-section .content-container {
    height: auto !important;
    margin-bottom: 80px !important;
  }
  .app-section .content-container .gdlr-core-pbf-column-content {
    max-width: 560px !important;
  }
  .app-section .image-container {
    height: auto !important;
    min-height: auto !important;
  }
  .app-section .image-container .desktop-img img {
    max-width: 500px;
    margin-left: -100%;
    margin-right: -100%;
  }
  .features-section {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }
  .features-section .title-container {
    margin-bottom: 60px !important;
  }
  .features-section .title-container .gdlr-core-pbf-column-content {
    max-width: 560px !important;
  }
  .journey-section {
    padding-top: 75px !important;
    padding-bottom: 100px !important;
  }
  .journey-section .gdlr-core-pbf-column:last-child .content-container {
    margin-top: 50px !important;
  }
  .journey-section .banner-container .desktop-banner img {
    max-width: 500px;
    margin-left: -100%;
    margin-right: -100%;
  }
  .journey-section .content-container {
    margin-bottom: 60px !important;
  }
  .journey-section .content-container .gdlr-core-pbf-column-content {
    max-width: 560px !important;
  }
  .journey-section .rat-container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .journey-section .rat-container .gdlr-core-image-item {
    padding-left: 2.5px !important;
    padding-right: 2.5px !important;
  }
  .download-section {
    padding-top: 0 !important;
    padding-bottom: 80px !important;
  }
  .download-section .gdlr-core-pbf-element:nth-child(2) {
    margin-right: 13.5px;
  }
  .download-section .gdlr-core-pbf-element:nth-child(3) {
    margin-left: 13.5px;
  }
  .download-section .ld-container {
    max-width: 329px;
    padding: 30px 20px;
  }
  .download-section .ld-container .client-logo.nbl img {
    max-width: 50px;
  }
  .download-section .ld-container .client-logo.nbl1 img {
    max-width: 110px;
  }
  .download-section .ld-container .dl-btn img {
    max-width: 130px;
  }
}
.ipad-cta .title-container .gdlr-core-pbf-column-content {
  max-width: 640px !important;
}

@media only screen and (max-width: 767px) {
  .prt-1 .gdlr-core-title-item-title {
    font-size: 40px !important;
    line-height: 46px !important;
  }
  .prt-1 .gdlr-core-title-item-caption {
    margin-top: 15px !important;
  }
  .prt-2 {
    padding-bottom: 20px !important;
  }
  .prt-2 .gdlr-core-title-item-title {
    font-size: 28px !important;
    line-height: 42px !important;
    letter-spacing: -1px !important;
  }
  .prc-2 .gdlr-core-text-box-item-content {
    font-size: 20px !important;
    line-height: 32px !important;
  }
  .cf-container {
    margin-bottom: 60px !important;
    min-height: auto !important;
    height: auto !important;
  }
  .cf-container .ftc-title .gdlr-core-title-item-title {
    font-size: 18px !important;
    line-height: 28px !important;
  }
  .cf-container .ftc-title .gdlr-core-title-item-caption {
    font-size: 15px !important;
    line-height: 24px !important;
  }
  .client-logo img {
    max-width: 300px !important;
  }
  .hero-section {
    padding-top: 100px !important;
    padding-bottom: 380px !important;
  }
  .spark-section {
    padding-bottom: 300px !important;
  }
  .spark-section .desktop-banner {
    display: none;
  }
  .spark-section .mobile-banner {
    display: block;
  }
  .spark-section .mobile-banner img {
    max-width: 460px;
    margin-left: -100%;
    margin-right: -100%;
  }
  .spark-section .image-container {
    margin-top: -324px !important;
    margin-bottom: 50px !important;
  }
  .mid-section {
    padding-bottom: 90px !important;
  }
  .mid-section .desktop-banner {
    display: none;
  }
  .mid-section .mobile-banner {
    display: block;
  }
  .mid-section .mobile-banner img {
    max-width: 383px;
    margin-left: -100%;
    margin-right: -100%;
  }
  .mid-section .image-container {
    margin-top: -236px !important;
  }
  .creation-section {
    padding-bottom: 60px !important;
  }
  .creation-section .gdlr-core-sync-height-pre-spaces {
    display: none;
  }
  .creation-section .gdlr-core-pbf-wrapper-container {
    display: flex;
    flex-direction: column;
  }
  .creation-section .gdlr-core-pbf-column {
    width: 100%;
  }
  .creation-section .gdlr-core-pbf-column:first-child {
    order: 2;
  }
  .creation-section .gdlr-core-pbf-column:nth-child(2) {
    order: 1;
  }
  .creation-section .image-container {
    min-height: auto !important;
  }
  .creation-section .image-container .desktop-img img {
    max-width: 460px;
    margin-left: -100%;
    margin-right: -100%;
  }
  .creation-section .content-container {
    margin-bottom: 60px !important;
  }
  .app-section .gdlr-core-pbf-background-wrap {
    background-color: #000 !important;
  }
  .app-section .gdlr-core-sync-height-pre-spaces {
    display: none;
  }
  .app-section .gdlr-core-pbf-wrapper-container {
    display: flex;
    flex-direction: column;
  }
  .app-section .gdlr-core-pbf-column {
    width: 100%;
  }
  .app-section .image-container {
    min-height: auto !important;
  }
  .app-section .image-container .desktop-img img {
    max-width: 460px;
    margin-left: -100%;
    margin-right: -100%;
  }
  .app-section .content-container {
    margin-bottom: 60px !important;
  }
  .features-section {
    padding-bottom: 0 !important;
  }
  .features-section .title-container {
    margin-bottom: 70px !important;
  }
  .features-section .gdlr-core-column-30 {
    width: 50%;
  }
  .journey-section {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
  .journey-section .banner-container .desktop-banner img {
    max-width: 460px !important;
    margin-left: -100%;
    margin-right: -100%;
  }
  .download-section {
    padding-top: 40px !important;
    padding-bottom: 80px !important;
  }
  .download-section .gdlr-core-pbf-element:nth-child(2) {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
  .download-section .gdlr-core-pbf-element:nth-child(2) .dl-btn img {
    margin-right: 10px;
  }
  .download-section .gdlr-core-pbf-element:nth-child(3) {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }
  .download-section .gdlr-core-pbf-element:nth-child(3) .dl-btn img {
    margin-left: 10px;
  }
  .download-section .ld-container {
    padding: 30px 20px !important;
  }
  .download-section .ld-container .client-logo {
    padding-bottom: 30px !important;
  }
  .download-section .ld-container .client-logo.nbl img {
    max-width: 50px !important;
  }
  .download-section .ld-container .client-logo.nbl1 img {
    max-width: 110px !important;
  }
  .download-section .ld-container .dl-btn img {
    max-width: 130px !important;
  }
}/*# sourceMappingURL=style.css.map */